<div class="container card">
      <div class="card-body">
            <div class="left-elements">
                  <p id="online-word">Online Grocery</p>
                  <p id="text">Don't have time to do your shopping? <br>Do you have a craving for an apple pie but don't have enough ingredients?<br> Everything becomes much easier with online shopping.</p>
                  <br><br>
                  <button type="button" class="btn btn-primary" (click)="goToShop()">Shop now</button>
           
            </div>
             <div class="right-elements">
                  <img class="image" src="../assets/online-grocery.png">
             </div>
          </div>
     
    </div>