
  <header id="header">
  
        <div >
          <img class="logo" src="../assets/e-grocery2.jpg">
        </div>
              <div class="nav-items" >
                    
                <a routerLink = "/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Home</a>
                <a routerLink = "/shop" routerLinkActive="active">Shop now</a>
                <a routerLink = "/cart" routerLinkActive="active">Shopping Cart</a>
                <a routerLink = "/about" routerLinkActive="active">About us</a>
          </div>
           <div >
                 <div class="other-items">
                   <div> <p class="quantity" [textContent]="cart" ></p></div>
                   <div >
                    <img class="cart" src="../assets/cart.png">
                   </div>
                       <div>
                            <a id="login" routerLink = "/login">
                                  Log in</a>
                       </div>
                     
                      <a id="signup" routerLink = "/shop">Sign up</a>
                 </div>
               
           </div>

     
   
  </header>

  <router-outlet (activate)="onActivate($event)" ></router-outlet>
    