<div class="row">
      <div class="login-card">
          <div class="container">
              <div class="close-button"> <img src="assets/Path%202285.svg"></div>
              <div class="logo-container"><img class="logo" src="assets/e-grocery2.jpg"></div>
              <div class="form-container">
                 
                      <div class="form-group">
                          <div >
                              <label for="username" >Username</label>
                              <input type="text" id="username" class="form-control" formControlName="username" >
                             
                          </div>
                      </div>
                      <div class="form-group">
                          <div >
                              <label for="password" >Password</label>
                              <input type="password" id="password" class="form-control" formControlName="password" >
                             
                          </div>
                      </div>
                 
                  <div class="login-button" >
                      <button class="btn">LOGIN</button>
                  </div>
                  <div class="create-account">
                      <div>Don't have an account?</div>
                      <div id="second-child">SIGN UP</div>
                  </div>
              </div>
  
          </div>
      </div>
  </div>
  